body {
  /* Работает только с inline-block и block во всю ширину */
  /* Применяется к дочерним элементам родителя */
  text-align: center;
  /* Использование шрифтов по порядку от самого специфичного */
  font-family: 'Merriweather', serif;
}

h1 {
  /* Верх Право Низ Лево
  margin: 0 auto 0 auto;
  */
  /* Верх Низ Лево Право
  margin: 0 auto;
  */
  margin: 25px auto 0 auto;
  /* Межстрочное расстояние нужно указывать просто числом */
  line-height: 2.1;
  font-family: 'Sacramento', cursive;
  font-size: 3.2em;
  /* 16px = 100% = 1em(rem)  */
  /* em и % наследуются потомками или вложенностями */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  /* 32px */
}

/* .skills-h2{
} */
h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

.nav-brand-img {
  width: 50px;
  margin-top: 10px;
  border-radius: 100%;
  box-shadow: 10px 3px 3px #FFC93C;
  transform: rotate(-15deg);
}

.navbar-dark .navbar-nav .nav-link {
  font-style: italic;
  color: #FFC93C;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #baf0ff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #EDEDED;
}

.navbar-nav-personal {
  margin-top: 0;
  border-radius: 50px;
  border: 1px solid #FFC93C;
  background: rgb(2, 0, 36);
  background-image: radial-gradient(circle 300px at 8% 89.3%, rgba(20, 157, 208, 1) 0%, rgba(140, 63, 226, 1) 90%);
}

.topContainer {
  padding-top: 20px;
  /* Позиция родителя, на которую будут ровняться вложенные элементы */
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 44, 141, 1) 45%, rgba(0, 212, 255, 1) 100%);
  color: #FFC93C;
  border-bottom: 2px solid #baf0ff;
}

/* .whoIam {} */
.whoIam span {
  text-decoration: underline;
}

.top-cloud {
  /* Исключение из потока */
  position: absolute;
  width: 8%;
  right: 37%;
  top: 53%;
}

.mountain-birds {
  position: absolute;
  width: 2%;
  top: 50%;
  right: 40%;
}

.mountain {
  position: relative;
  z-index: 1;
  width: 35%;
}

.bottom-cloud {
  position: absolute;
  width: 8%;
  left: 35%;
  bottom: 45%;
}

.middle-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 44, 141, 1) 45%, rgba(0, 212, 255, 1) 100%);
  color: #FFC93C;
}

.profile {
  position: relative;
}

.profile p {
  padding: 0.5%;
  line-height: 2;
}

.hr {
  margin: 2% auto 2%;
  display: inline-block;
  width: 2%;
  border-bottom: 7px dotted #EDEDED;
}

.avatar-image {
  width: 10%;
  margin: 1% auto 1%;
}

.skill-row h3 {
  font-family: 'Sacramento', cursive;
  font-size: 2.5em;
}

.skill-row h3:hover {
  color: #baf0ff;
  cursor: pointer;
}

.skills-image {
  margin-top: 2%;
  width: 5%;
  opacity: 0.8;
}

.cloud-skills-top {
  position: absolute;
  left: 12%;
  margin-top: 12%;
  opacity: 0.9;
}

.cloud-skills-bot {
  position: absolute;
  right: 12%;
  margin-top: 12%;
  opacity: 0.7;
}

.skill-row-images {
  margin-bottom: 10px;
  width: 40px;
}

.container-fluid {
  padding: 0 auto;
}

#carouselWorkIndicators {
  box-shadow: 8px -5px 20px #EDEDED;
  border-radius: 20px;
}

.carousel-item {
  padding: 10% 10%;
  padding-bottom: 15%;
}

.carousel-item h3 {
  font-size: 18px;
}

.carousel-item img {
  width: 40px;
  margin: 5px;
}

.carousel-item em {
  font-size: 12px;
}

.contact-me h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  font-weight: normal;
}

.contact-me a {
  text-decoration: none;
  color: #EDEDED;
}

.bottom-container {
  position: relative;
  padding: 10px 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 44, 141, 1) 45%, rgba(0, 212, 255, 1) 100%);
}

.bottom-container p {
  margin: 10px;
}

/* Pop-up window */
/* .info-bottom {
  display: none;
  width: 220px;
  position: absolute;
  padding: 10px;
  margin-top: 20%;
  left: 100px;
  background-color: #F0E68C;
  color: black;
  border: 1px solid #baf0ff;
  border-radius: 10px;
  font-size: 14px;
  text-align: left;
} */
.info-bottom:hover {
  border: 2px solid #F4F9F9;
  cursor: pointer;
}

.info-bottom img {
  width: 30%;
  float: left;
  clear: right;
  margin-right: 5px;
}

.bottom-container {
  padding: 10px 0 10px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 44, 141, 1) 45%, rgba(0, 212, 255, 1) 100%);
}

.bottom-container a {
  color: #EDEDED;
}

.bottom-container p {
  font-size: 14px;
  color: #EDEDED;
}

/* Up to 768px */
@media (max-width:420px) {
  .top-cloud, .bottom-cloud {
    display: none;
  }

  .mountain, .avatar-image, .skills-image {
    visibility: hidden;
  }

  .topContainer h1 {
    font-size: 40px;
  }

  .topContainer p {}

  .profile h2 {
    font-size: 25px;
  }

  .profile p {
    font-size: 14px;
  }

  #carouselWorkIndicators {
    min-height: 325px;
  }

  .carousel-item h3 {
    font-size: 14px;
  }

  .carousel-item {
    padding: 20px 10px 10px;
  }
}

@media(min-width:768px) {
  #carouselWorkIndicators {
    width: 50%;
    margin: 0 auto;
  }

  .profile h2 {
    font-size: 25px;
  }

  .carousel-item {
    padding: 40px 50px 40px;
  }
}
